
*{
	margin: 0px;
	padding:0px;
	text-decoration: none;
	
}

.cuerpo{
	width:1200px;
	margin:auto;
	background-color: rgba(130, 102, 255, 0.596);
	border-style: solid;
	border-width:1px;
	
}

.cabecera{
	background-color: rgba(255, 0, 242, 0.596);
	padding:20px;
	text-align:center;
	margin:5px;
	position: sticky;
  top: 0;
	
	
}

.barra_navegacion{
	display:flex;
	margin:5px;
	padding:10px;
	justify-content:center;
	background-color: rgba(255, 153, 230);
	
	
}

.cuadrado_cabecera{
	background-color: rgb(255, 153, 230);
	color: rgba(0,0,0,0.5);
	padding:5px;
	margin-right:10px;
	font-weight:bold;
}

.cuadrado_cabecera:hover{
	background-color: rgb(255, 0, 200);
}



body{
background-image: url(./multimedia/pastel.jpg);
background-size: cover;
}

.imagenes{
	float:left;
	max-width: 600px;
}

.pie_pagina{
	background-color:rgb(102, 0, 71);
	color: rgb(255,255,255);
	text-align: center;
	
	margin-right:198px;
	padding:10px;
	bottom: 0;
	width: 100%;
	
	position:fixed;
	
}

h4{
	text-align:center;
}

h1{
	text-align:center;
}


.lana{
margin-left: auto;
margin-right: auto;
display: block;

}

.h2{
	text-align: center;
	margin-block-start: 15px;
	margin-bottom: 15px;
}
.salva{
	margin-left: auto;
	margin-right: auto;
	display: block;
	
	}
.adopta{
		margin-left: auto;
		
		}
.texto{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
	margin-block-start: 20px;
}
.instalaciones{
	margin-left: 275px;
    margin-right: auto;
    display: block;
}

.mapas{
	margin:auto
}
table, th, td {
	border: 1px solid blue;
	background-color: pink;
	text-align: center;
	
  }
.tabla{
	margin-left:  650px;
	margin-top: 50px;
	
  }
.pie_horario{
	background-color:rgb(102, 0, 71);
	color: rgb(255,255,255);
	text-align: center;
	margin-left:198px;
	margin-right:198px;
	padding:10px;
	margin-block-start: 400px;	
}
.form_register {
	width: 400px;
	background: rgb(247, 154, 221);
	padding: 30px;
	margin: auto;
	margin-top: 30px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
  }
  
  .form_register h4 {
	font-size: 22px;
	margin-bottom: 10px;
  }
  
  .controls {
	width: 100%;
	background: #f5f5f5;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
	color: white}
  
.form_register p {
		height: 40px;
		text-align: center;
		font-size: 18px;
		line-height: 40px;
	  }
	  
	  .form-register a {
		color: white;
		text-decoration: none;
	  }
	  

	  
.form_register .botons {
		width: 100%;
		background: #1f53c5;
		border: none;
		padding: 12px;
		color: white;
		margin: 16px 0;
		font-size: 16px;
	  


}
.pie_registro{
	background-color:rgb(102, 0, 71);
	color: rgb(255,255,255);
	text-align: center;
	margin-left:198px;
	margin-right:198px;
	padding:10px;
	margin-top: 40px;
}
.perro {
	margin-top: 50px;
	margin-left: 730px;
}
input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
	margin-bottom: 20px; 
  }
  label{
	display: block; 
	float: center;  
  }
  .contact_form{
	margin-left: 750px;
	
  }
  .listas{
	padding: 15px;
	  margin-left: 15px ;
  }
 
  .video {
	
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 100px;

  }
  .mapa{
	margin-left: 400px;
	
	
  }